### O projeto que vou utilizar aqui é a continução de um projeto anterior onde trabalhei com validação cruzada 

##### Aqui irei trazer uma visão de otimização dos hiperparametros de um modelos de machine learning, que seria basicamente as informações que eu passo para o algoritimo antes de treina-lo

# Breve explicação


### - Parâmetro são os valores aprendidos pelo algoritmo durante o treinamento
### - Hiperparâmetro são os valores definidos antecipadamente antes do treinamento

# LIBS

In [3]:
import pandas as pd
import warnings

# Carregamento dos dados

In [9]:
#Leitura da URL do projeto anterior 
#dropei informações zeradas na coluna 1

url = "https://gist.githubusercontent.com/guilhermesilveira/e99a526b2e7ccc6c3b70f53db43a87d2/raw/1605fc74aa778066bf2e6695e24d53cf65f2f447/machine-learning-carros-simulacao.csv"
dados = pd.read_csv(url).drop(columns=["Unnamed: 0"], axis=1)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               18  35085.22134
1   40557.96        1               20  12622.05362
2   89627.50        0               12  11440.79806
3   95276.14        0                3  43167.32682
4  117384.68        1                4  12770.11290

In [10]:
#Nessa base de dados existe a hipotese ficticia da venda de automoveis, esse dados são de um status de vendas apos 6 meses
#os carros entrarem na plataforma, nesse ponto eu quero identificar se o modelo treinado é capaz de aprender isso

In [15]:
#vai ser necessario a ordenação dos dados para em seguida a utilização da validação cruzada
# aqui aplico a ordenacao pelos vendidos

dados_orde= dados.sort_values("vendido", ascending = True)
x_order= dados_orde[["preco", "idade_do_modelo", "km_por_ano"]]
y_order= dados_orde["vendido"]
dados_orde

         preco  vendido  idade_do_modelo   km_por_ano
4999  74023.29        0               12  24812.80412
5322  84843.49        0               13  23095.63834
5319  83100.27        0               19  36240.72746
5316  87932.13        0               16  32249.56426
5315  77937.01        0               15  28414.50704
...        ...      ...              ...          ...
5491  71910.43        1                9  25778.40812
1873  30456.53        1                6  15468.97608
1874  69342.41        1               11  16909.33538
5499  70520.39        1               16  19622.68262
0     30941.02        1               18  35085.22134

[10000 rows x 4 columns]

##### Aqui utilizo o DummyClassifier() para obtermos uma linha de base - ou seja, quão bom bom um modelo é capaz de ser sem que eu precise aplica fazer muita coisa


DummyClassifier()
Estabelecendo uma linha de base e comparando o desempenho do seu modelo com um Dummy é um classificador fictício ! É um modelo classificador que faz previsões sem tentar encontrar padrões nos dados. 
O modelo padrão basicamente analisa qual rótulo é mais frequente no conjunto de dados de treinamento e faz previsões com base nesse rótulo.